{% if request.user.is_authenticated %}
    <p> {{request.user}} </p>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}

<h1>To Do List</h1>

<a href="{% url 'task-create' %}">Create Task</a>

<form action="" method="GET">
    <input type="text" name="search-area" value="{{search_input}}">
    <input type="submit" value="Search">
</form>

<table>
    <tr>
        <th>Item</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <th>{{task.task_title}}</th>
        <th><a href="{% url 'task' task.id %}"> View  </a></th>
        <th><a href="{% url 'task-update' task.id %}"> Edit  </a></th>
        <th><a href="{% url 'task-delete' task.id %}"> Delete  </a></th>
    </tr>
    {% empty %}
    <h3>No Title</h3>
    {% endfor %}
</table>
